@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.badge-pulse {
  animation: pulse 1s;
}

.toast-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.toast-error {
  background-color: #f8d7da;
  border-color: #f5c6cb;
  color: #721c24;
}

#toast-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1050;
  pointer-events: none;
}

#toast-container .toast {
  position: absolute;
  right: 0;
  width: 350px;
  margin: 0;
  transition: transform 0.5s, opacity 0.5s;
  pointer-events: auto;
  opacity: 1;
}

#toast-container .toast:not(:last-child) {
  opacity: 0.85;
}

#toast-container.hovering-toast .toast {
  opacity: 1;
}

#toast-container .toast {
  transform: translateY(0);
}

#toast-container .toast:not(:last-child) {
  transform: translateY(-10px);
}
